 
 *,
 *:before,
 *:after {
   box-sizing: border-box;
   margin: 0 auto;
   
   
  
 }
     /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield !important;
}
.el-message .el-icon-info {
  margin:0 10px;
}
 a:hover {
   text-decoration: none !important;
 }
 .nuxt-link-active {
   color:#fff;
   text-decoration: none !important;
 }
 .el-avatar>img {
   width:60px;
 }
 .el-menu-item {
   padding:0 20px;
   text-align: center;
   line-height: 44px !important;
 }
 .el-menu-item  {
   color:#fff !important;
    background:unset !important;
 }
 .el-main {
   margin-top:-1px !important;
 }
 .el-menu-demo  {
   display: flex;
 }
 .main_container {
   max-width:480px;
   width:100%;
 }
 .header {
     background:#2E3192;
     position: fixed;
     top:0;
     max-width: 480px;
     width:100%;
     line-height: 39px;
     z-index: 1;
    
 }
 .home_header {
   padding:0;
   margin:0;
   list-style: none;
   text-align:center;
 }
 .home_header li {
   list-style: none;
   display: inline;
 }
 .el-header {
   z-index: 20;
 }
 .footer {
    position: fixed; 
     max-width:480px;
     width:100%;
     bottom: 0;
 }
 .footer_btn {
   position: absolute;
   bottom:8px;
   max-width: 480px;
   width:100%;
   right:0;
   left:0;
   padding:0 20px;
 }
 .el-footer  {
   height: auto !important;
 }
 .el-footer  .el-menu-item img {
   width:30px;
   height:auto;
 }

 .el-menu.el-menu--horizontal {
  border-bottom:0 !important;
 }
 .button--green {
   display: inline-block;
   border-radius: 4px;
   border: 1px solid #3b8070;
   color: #3b8070;
   text-decoration: none;
   padding: 10px 30px;
 }
 
 .button--green:hover {
   color: #fff;
   background-color: #3b8070;
 }
 
 .button--grey {
   display: inline-block;
   border-radius: 4px;
   border: 1px solid #35495e;
   color: #35495e;
   text-decoration: none;
   padding: 10px 30px;
   margin-left: 15px;
 }
 
 .button--grey:hover {
   color: #fff;
   background-color: #35495e;
 }
 
 .logo {
    width:107px;
    height:auto;
    text-align: center;
   
  }
  .result_icon {
    float: right;
  }
  .result_icon img {
    width:40px;
    height:auto;
    padding:10px 0;
  }
  .header_icon {
    width:23px;
    height: auto;
  }
  .noti img {
      width:30px;
      height:auto;
      
  }
  .music_icon {
    position: relative;
    left: 20px;
    top: 7px;
}
  .noti {
      float: left;
      position:relative;
      left:20px;
  }
  .messeage_icon {
      float:right;
      padding:0 20px;
  }
 
  .header_item {
      padding:0;
      margin:0;
     

  }
  .el-menu.el-menu--horizontal {
    height: 66px;
  } 
  .main_icon {
    padding:0;
    margin:0;
    font-size: 12px;
    text-align: center;
  }
  .demo-type {
      text-align: left;
      padding:10px 0;
  }
  .avatar_text ul {
    list-style: none;
    padding:10px;
  }
  .avatar_text {
      display: inline-block;
      /* padding-left:15px; */
     color:#fff;
     font-weight: bold;
     position: relative;
     bottom:14px;
  }
  .avatar_text_logout {
    display: inline-block;
    padding-left:15px;
    color:#fff;
    font-weight: bold;
    position: relative;
    bottom:24px;
  }
  .avatar_text .amount_mmk {
     color:#FFEA72;
     font-weight: bold;
  }
  .header_item li {
    display: inline-block;
    list-style: none;
  }
  
  .el-carousel_label .slide_inner_icon {
     width:20px;
     height: auto;
     padding:0;
     margin:0;
  }
  .el-carousel_label h3 {
    color: goldenrod;
    font-size: 14px;
    opacity: 0.95;
    text-align: left;
    padding:0 10px;
    position:relative;
   
    top:120px;
    z-index: 2;
    background: rgba(25, 61, 26, 0.705);
    margin: 0;
  }
  .static {

    background-image: -webkit-linear-gradient(92deg, #FDD164, goldenrod);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 60s infinite linear;
  
  }
  .el-carousel__button {
      width:9px !important;
      height:9px !important;
      border-radius: 50px !important;
      position:relative;
      bottom:18px;
  }
  .el-carousel--horizontal {
    overflow:hidden;
  }
  .el-page-header__left {
    margin:0;
  }
  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
  .number h2 {
    color:rgba(255, 255, 255, 1);
    font-size: 75pt;

    text-align: center;
    margin:0 auto;
    
}
.number::before {
    display: block;
    position: absolute;
    top: 15px;
    width: 2px;
    height: 10;
    background: #073e25e0;
    height: 85px;
    right: 0;
    content: "";
}
.result_num {
  color: #FEDC54 !important;
  font-weight: bold;
}
@keyframes live_numer-animate {
  0%   { opacity: 0; }
  25%   { opacity: 1; }
  50%   { opacity: 1; }
  100% { opacity: 1; }
}
.live_number {
  -webkit-animation: live_numer-animate 3s infinite;
  animation:         live_numer-animate 3s infinite;
  animation-delay: 1s;
  }
@keyframes result_num-animate {
  0%   { opacity: 0; }
  25%   { opacity: 1; }
  50%   { opacity: 1; }
  100% { opacity: 1; }
}
.result_num {
  -webkit-animation: result_num-animate 3s infinite;
  animation:         result_num-animate 3s infinite;
  animation-delay: 1s;
  }
.date_time .d_t_item {
    padding:10px;
    text-align: left;
    /* border-left:2px solid rgba(14, 57, 26, 1); */


}

.date_time .d_t_item span {
    font-size: 14pt;
    color:rgba(173, 174, 183, 1);
}
.n_d_t {
    margin:25px auto 0px auto;
}
.card_one , .card_two{
  
   border:2px solid #FFEA72;
   border-radius: 13px;
   padding:20px;
   margin:10px auto;
    background-image:
    linear-gradient(#3A4450, #151E28),
    linear-gradient(270deg, #3A4450, #3A4450 50%, #151E28 100%);  
}
.card_three , .card_four {
    border:2px solid #FFEA72;
    border-radius: 13px;
    padding:20px;
    margin:10px auto;
   background-image:
   linear-gradient(#3A4450, #151E28),
   linear-gradient(270deg, #3A4450, #3A4450 50%, #151E28 100%);  
}
.card_item h4 {
    color:rgba(255, 255, 255, 1);
    font-size: 17pt;
    padding:0;
    margin:3px auto;
}
.card_item span {
  color:#fff;
}
.time_number {
    color:rgba(213, 222, 232, 1);
    font-size: 15pt;
    margin:7px auto;
    font-weight: 300;
}
    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield !important;
}
.card_three .time_number , .card_four .time_number {
    position: relative;
    top:10px;
  }
  .bet_btn {
    text-align: center;
    margin-left: -16px;
    display: block;
    position: fixed;
    bottom: 75px;
    max-width:480px;
    width: 100%;
    
  }

  .bet_btn .el-button {
    background: linear-gradient(#FDD164, #BB8834);
    color:#4D2707;
    font-size: 17px;
    font-weight: bold;
    border:unset;
    width:120px;
    padding:5px 0;
    margin:0 auto;
    border-radius: 36px;
  }


.longText{
  max-width: 480px;
  width: 100%;
  height: 100%;
  margin: auto;
  /* text-align: justify; */
}

/*------THE TRICK------*/
#hidingScrollBar{
  overflow: hidden;
}
.hideScrollBar{
  width: 100%;
  height: 100%;
  overflow: auto;
  margin-left: 15px;
  padding-right: 28px; /*This would hide the scroll bar of the right. To be sure we hide the scrollbar on every browser, increase this value*/
  padding-top:60px;
  padding-bottom: 180px; /*This would hide the scroll bar of the bottom if there is one*/
}
.el-message {
  min-width: 300px !important;
}
.el-message.is-center {
  -webkit-box-pack:unset !important;
}
.el-message .el-icon-error {
  margin:0 !important;
  padding-right:20px !important;
}
.el-notification .el-icon-success {
  margin: 0 !important;
  padding-right: 50px !important;
}


.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
  display: none;
}
@media screen and (min-width:480px) {
 .card_one , .card_two ,.card_three ,.card_four{
   margin:10px auto;
 }
 .hideScrollBar {
  margin-left:20px;
}
}
@media screen and (max-width:768px) {
  .hideScrollBar {
   margin-left:15px;
  }
 }
@media screen and (max-width:1024px) {
  .hideScrollBar {
   margin-left:16px;
  }
 }

@media screen and (max-width:400px) {
  .card_item h4 {
    font-size:13pt;
  }
  .time_number {
    font-size: 11pt;
  }
  .hideScrollBar {
    margin-left:13px;
  }


}
@media screen and (max-width:400px) {
  /* .avatar_text {
    padding:0;
  } */
  .date_time .d_t_item {
    padding:18px 0;
  }
  .date_time .d_t_item span {
    font-size: 11pt;
  }
  .music_icon {
    left:12px;
  }
  .bet_container .el-dialog {
    width:92% !important;
  }

}
@media screen and (min-width:460px) {
  .bet_container .el-dialog {
    width:57% !important;
  }


}

@media screen and (min-width:1024px) {
  .bet_container .el-dialog {
    width:40% !important;
  }
  

}


 
 


















.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding-top: 200px;
  font-size: 30px;
  font-family: sans-serif;
}

/* autoplay music icon css */
#player-container #play-pause {
  cursor: pointer;
  text-indent: -999999px;
 
  background-image: url('~static/images/icons/music_off.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size:25px;
  position: relative;
  bottom:7px;
}
.play {
  background-image: url('~static/images/icons/music_off.png');
}
.pause {
   background-image: url('~static/images/icons/music_on.png')!important;
}

/* .player-controls {
  color: #FFF;
  cursor: pointer;
  display: block;
  font-size: 40px;
  height: .6em;
  position: relative;
  text-decoration: none;
  width: .6em;
  -webkit-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}
.player-controls .audio-label {
  line-height: 1;
  position: absolute;
  right: 1.35em;
  text-align: right;
  text-transform: uppercase;
  top: -0.4em;
}
.player-controls .audio-label span {
  font-size: 18px;
}
.player-controls .audio-label span small {
  display: block;
  font-size: 0.83em;
}
.player-controls .play,
.player-controls .pause {
  display: block;
  background-image:url(~static/images/icons/music_off.png); 
  background-size: 100% 100%;
  height: .6em;
  position: absolute;
  width: .6em;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  z-index: 5;
}
.player-controls .play::before,
.player-controls .pause::before,
.player-controls .play::after,
.player-controls .pause::after {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  content: "";
  display: block;
  position: absolute;
  height: .6em;
  right: 0;
  top: 0;
  width: .6em;
  z-index: 0;
}
.player-controls .play::before {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.player-controls .pause {
  background-image:url(~static/images/icons/music_on.png); 
  opacity: 0;
  right: 0;
  top: 0;
}
.player-controls.playing .play {
  opacity: 0;
}
.player-controls.playing .pause {
  opacity: 1;
}
.player-controls.playing .pause::before {
  -moz-animation: audio1 1.5s infinite ease-in-out;
  -o-animation: audio1 1.5s infinite ease-in-out;
  -webkit-animation: audio1 1.5s infinite ease-in-out;
  animation: audio1 1.5s infinite ease-in-out;
}
.player-controls.playing .pause::after {
  -moz-animation: audio2 2.2s infinite ease-in-out;
  -o-animation: audio2 2.2s infinite ease-in-out;
  -webkit-animation: audio2 2.2s infinite ease-in-out;
  animation: audio2 2.2s infinite ease-in-out;
}
.player-controls:hover {
  transform: scale(1.1);
}
.player-controls:hover .play::before {
  box-shadow: 0 0 12px rgba(255, 238, 125, 0.8);
}
.animate-audio1 {
  -moz-animation: audio1 1.5s infinite ease-in-out;
  -o-animation: audio1 1.5s infinite ease-in-out;
  -webkit-animation: audio1 1.5s infinite ease-in-out;
  animation: audio1 1.5s infinite ease-in-out;
}
@keyframes audio1 {
  0%,
  100% {
    box-shadow: 0 0 0 0.4em rgba(255, 255, 255, 0.4);
  }
  25% {
    box-shadow: 0 0 0 0.15em rgba(255, 255, 255, 0.15);
  }
  50% {
    box-shadow: 0 0 0 0.55em rgba(255, 255, 255, 0.55);
  }
  75% {
    box-shadow: 0 0 0 0.25em rgba(255, 255, 255, 0.25);
  }
}
.animate-audio2 {
  -moz-animation: audio2 2.2s infinite ease-in-out;
  -o-animation: audio2 2.2s infinite ease-in-out;
  -webkit-animation: audio2 2.2s infinite ease-in-out;
  animation: audio2 2.2s infinite ease-in-out;
}
@keyframes audio2 {
  0%,
  100% {
    box-shadow: 0 0 0 0.25em rgba(255, 255, 255, 0.15);
  }
  25% {
    box-shadow: 0 0 0 0.4em rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 0 0.15em rgba(255, 255, 255, 0.05);
  }
  75% {
    box-shadow: 0 0 0 0.55em rgba(255, 255, 255, 0.45);
  }
} */
